.Header {
    background-color: red;
    height: 40px
}

:root {
    --color-theme: #1b263b;
    --color-theme-font: white;

    --color-form-border: hsl(0, 0%, 80%);
    --color-form-background: hsl(0, 0%, 100%);
    --color-validator-message: red;

    --color-tag-background: hsl(0, 0%, 90%);
    --color-tag-font: hsl(0, 0%, 20%);
    --color-tag-close-background:  rgb(255, 189, 173);
    --color-tag-close-font:  rgb(222, 53, 11);

    --color-multiselect-border: black;
    --color-multiselect-shadow: black;


    --color-button-background: #415a77;
    --color-button-color: rgb(250, 254, 255);
    --color-button-border: #1b263b;
    --button-border-radius: 15px;

    --color-button-edit-background: #e0e1dd;
    --color-button-edit-color: #0d1b2a;
    --color-button-delete-background: #778da9;
    --color-button-delete-color: #0d1b2a;
}

/* @media (prefers-color-scheme: dark) {} */
/* body.dark-mode change className */


/* Apply box-sizing to all elements for better layout control */
*,
*::before,
*::after {
    box-sizing: border-box;
}

 html, body {
    /* height: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

/* #root, .App{
    height: 100vh;
} */



body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* FUENTES */
    font-family: 'Segoe UI', Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}


.page-container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: calc(100vh);
    /* height: 100vh; */
    /* overflow: auto; */
    /* overflow: hidden; */
    /* position: relative; */
}

.body-content {
    flex: 1
}

main {
    flex: 1;
    /* overflow-y: auto; */
}

h1 {
    font-size: 35px;
}


#header {
    background: var(--color-theme);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer{
    background: var(--color-theme);
    width: 100%;
    height: 50px;
    color: var(--color-theme-font);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left: 10px; */
}

.version-content {
    margin-left: 20px;
}

.header-icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.option-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.home-button {
    background-color: var(--color-button-background);
    color: var(--color-button-color);
    width: 30%;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--color-button-border);
    cursor: pointer;
}

.hover-text {
    visibility: hidden;   /* Initially hidden */
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: -125%;  /* Position above the container */
    left: 50%;
    transform: translateX(-80%);
    opacity: 0;
    transition: opacity 0.3s;  /* Smooth transition */
    border: 1px solid white;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-container:hover .hover-text {
    visibility: visible;  /* Show text on hover */
    opacity: 1;           /* Make the text visible */
}

#language-select {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

#language-select option{
    color: #0d1b2a;
}

#language-select option:hover{
    color: #0d1b2a;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
}


.center {
    width: 50%;
    margin: 0px auto;
}

.list-items-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aux{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.list-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    /* text-align: left; */
    cursor: pointer;
    display: flex;
    flex-direction: row;
}


.list-item p {
    margin: 0;
    font-weight: bold
}

.image-wrap {
    /* width: auto; */
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* float: left; */
    margin-right: 15px;
    border: 1px solid #ccc;
}

.list-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.list-item h2{
    /* display: block; */
    /* float: left; */
    
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.list-item h2, .list-item .date{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
}

.item-wrap-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    /* width: 100%; */
}

.item-wrap-container h2 {
    float: left;
}

.clearfix {
    clear: both; /* Para colocar los elementos debajo y no al lado */
    float: none;
}


/* ITEM */
/* #item {
    width: 50%;
} */
#item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;

    /* width: 100% */
}

.item-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    flex: 1;
    
}

#item img {
    width: auto;
    height: 300px;
}

.item-image-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px
}

.item-data-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    width: 100%;
}



.item-data-group label{
    font-weight: bold;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* width: fit-content; */
    text-align: left;
    white-space: nowrap;
}

.item-data-group p {
    margin: 0;
}

.item-data-group .tags-container .tag-item{
    padding-right: 6px;
}

.history-container {
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 0.1rem;
    cursor: pointer;
    border: 0;
}

.history-container:disabled {
    opacity: 50%;
    cursor: auto;
}


.item-button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 40px 0 40px 0;
    
    
}

.item-button-container button{
    width: fit-content;
    padding: 6px 30px 6px 30px;
    cursor: pointer;
}

.edit-button {
    background-color: var(--color-button-edit-background);
    color: var(--color-button-edit-color);
    border: solid 1px var(--color-button-edit-color);
    border-radius: 5px;
}

.delete-button{
    background-color: var(--color-button-delete-background);
    color: var(--color-button-delete-color);
    border: solid 1px var(--color-button-delete-color);
    border-radius: 5px;
}

/* .modal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

/* Modal overlay (the background) */
.custom-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.custom-item-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 80vw;
    height: 80vh;
    text-align: center;
    /* border: 1px solid #ccc; */
}

.modal-header {
    background-color: #0d1b2a;
    color: white;
    height: 4rem;
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    justify-content: flex-end; /* Align the close button to the right */
    /* justify-content: center; */
    border-radius: 4px 4px 0 0;
    position: relative; /* Needed to position the title absolutely */
}

.modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1.5rem;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-close-button-container {
    cursor: pointer;
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin-top: 2rem;
    color: black;
}

/* LOGIN */
.login-form, .repeat-password-form{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.show-password-container{
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

/* .password-container {
    position: relative;
    width: 100%;
}

.hide-password-button {
    position: absolute;
    top:20%;
    right: 0;
    font-size: 18px !important;
    cursor: pointer;
    color: rgb(29, 29, 29);
} */

/* FORM */

/* .search-button {
    width: 20px;
    height: 20px;
} */


.new-form, .search-form, .edit-form{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.search-form {
    margin-bottom: 50px;
}

.search-button {
    background-color: var(--color-button-background);
    color: var(--color-button-color);
    width: 50%;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--color-button-border);
    cursor: pointer;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.paginating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 9px;
}

input[type="text"], textarea, input[type="file"],
input[type="email"], input[type="password"],
input[type="date"]{
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-form-border);
    padding: 3px;
    
    transition: 300ms all;
}

textarea {
    height: 80px;
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    max-height: 300px;
}

.radio-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.radio-buttons-container input[type="radio"] {
    margin-right: 15px;
    accent-color: var(--color-theme);
}

.tags-input-container{
    width: 100%;
    height: 100%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    margin: 6px 0px 6px;
}

.tags-input-container .button-container{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
}

.tag-item {
    /* background-color: blue; */
    /* border: 0px solid blu/; */
    border-radius: 2px;
    background-color: var(--color-tag-background);
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    color: var(--color-tag-font);
    font-size: 85%;
    /* padding: 3px; */
    padding-left: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.close-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-button:hover{
    background-color: var(--color-tag-close-background);
    color: var(--color-tag-close-font);
}

.tag-item .close{
    /* cursor: pointer; */
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
    margin-left: 4px;
    margin-right: 4px;
    /* height: 100%; */
}


.tag-item .tag{
    padding: 3px;
}

/*tag selector*/
.css-b62m3t-container{
    width: 100%;
}

.css-13cymwt-control:hover, .css-13cymwt-control:active{
    border-color: var(--color-multiselect-border);
    box-shadow: 0 0 0 1px var(--color-multiselect-shadow) !important;
}

.css-t3ipsp-control, .css-t3ipsp-control{
    border-color: var(--color-multiselect-border) !important;
    box-shadow: 0 0 0 1px var(--color-multiselect-shadow) !important;
}

.save-button-container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.save-button {
    background-color: var(--color-button-background);
    border-radius: var(--button-border-radius);
    color: var(--color-button-color);
    border: 1px solid var(--color-button-border);
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50%;
    cursor: pointer;
}

.save-button:disabled {
    opacity: 50%;
}

/* validator messages */
.srv-validation-message{
    color: var(--color-validator-message);
}


/*EDIT FORM*/

.thumb {
    height: 100px;
    width: auto;
}

.thumb-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* .input: {
    outline: 2px solid red;
} */

/* 
.edit-form input, textarea, select, .css-1fdsijx-ValueContainer, .css-3w2yfm-ValueContainer{
    background-color: rgb(212, 208, 208);
} */


/* ######### RESPONSIVE ############### */

@media (max-width: 1360px){
    .item-container {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
    }

    #item label, #item p, #item time{
        font-size: 14px;
    }

    #item img {
        width: auto;
        height: 250px;
    }

    .item-data {
        row-gap: 15px;
        width: 70%
    }
}

@media (max-width: 1035px){
    .item-container {
        width: 100%;
    }
}


@media (max-width: 940px){

    h1 {
        font-size: 32px;    
    }

    .center {
        width: 75%;
    }

    .option-button-container button {
        width: 50%;
    }

    .list-item .image-wrap {
        height: 110px;
    }

    .aux {
        padding-left: 14px;
    }

    .item-container {
        width: 80%;
    }

    

/*
    .search-form {
        width: 75%;
    }

    .search-form button{
        width: 75%;
    }
 */
}

@media (max-width: 687px){
    .center {
        width: 100%;
    }
    
    h1 {
        font-size: 27px;
    }
    
    .option-button-container button {
        width: 50%;
    }

    .list-item .image-wrap {
        height: 90px;
    }

    .aux {
        padding-left: 8px;
    }

    .item-container {
        width: 100%;
    }

    #item label, #item p, #item time{
        font-size: 14px;
    }

    #item img {
        width: auto;
        height: 170px;
    }

    .item-data {
        margin-left: 0;
    }


/*
    .search-form, .new-form{
        width: 100%;
    }

    .search-form button{
        width: 100%;
    } */
}




