.Header {
    background-color: red;
    height: 40px
}

:root {
    --color-theme: #1b263b;
    --color-theme-dark: #111927;
    --color-theme-font: white;
    --color-delete: #e32e36;

    --color-form-border: hsl(0, 0%, 80%);
    --color-form-background: hsl(0, 0%, 100%);
    --color-validator-message: red;

    --color-tag-background: hsl(0, 0%, 90%);
    --color-tag-font: hsl(0, 0%, 20%);
    --color-tag-close-background:  rgb(255, 189, 173);
    --color-tag-close-font:  rgb(222, 53, 11);

    --color-multiselect-border: black;
    --color-multiselect-shadow: black;


    --color-button-background: #415a77;
    --color-button-color: rgb(250, 254, 255);
    --color-button-border: #1b263b;
    --button-border-radius: 15px;

    --color-button-edit-background: #e0e1dd;
    --color-button-edit-color: #0d1b2a;
    --color-button-delete-background: #778da9;
    --color-button-delete-color: #0d1b2a;

    --header-height: 70px;
    --footer-height: 50px;
}

/* @media (prefers-color-scheme: dark) {} */
/* body.dark-mode change className */


/* Apply box-sizing to all elements for better layout control */
*,
*::before,
*::after {
    box-sizing: border-box;
}

 html, body {
    /* height: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

/* #root, .App{
    height: 100vh;
} */



body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Helvetica Neue;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}


.page-container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: calc(100vh);
    /* height: 100vh; */
    /* overflow: auto; */
    /* overflow: hidden; */
    /* position: relative; */
}

.body-content {
    flex: 1
}

main {
    flex: 1;
    /* overflow-y: auto; */
}

h1 {
    font-size: 35px;
}


#header {
    background: var(--color-theme);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer{
    background: var(--color-theme);
    width: 100%;
    height: var(--footer-height);
    color: var(--color-theme-font);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left: 10px; */
}

/* ############################################### */
/* WELCOME */
/* ############################################### */
/* #region welcome */
.welcome-icon{
    height: 40vh;
    width: auto;
    margin-top: 2.5rem;
}

.welcome-title{
    font-size: 3em;
    /* font-family: "Libre Baskerville"; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    color: var(--color-theme);
    text-align: center;
}

.welcome-slogan{
    font-size: 1.5em;
    font-family: 'Helvetica Neue', Roboto, "Noto Sans", "Lato", "Open sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* letter-spacing: -0.72px; */
    color: rgb(34, 36, 73);
    text-align: center;
    margin-top: 0.8rem;
}

.welcome-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;
}

/* #endregion*/




.content {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.invisible{
    color: rgba(0, 0, 0, 0) !important;
    cursor: default;
}

.margin-top-3rem {
    margin-top: 3rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.margin-bottom-3rem {
    margin-bottom: 3rem;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.width-100 {
    width:100%
}

.align-left{
    text-align: left;
}

.side-bar-menu{
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 15vw;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: #eeeef5;
    transition: width 0.3s ease-in-out;
    z-index: 100;
}

.side-bar-menu.collapsed{
    width: 3.5rem;
}

.side-bar-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;
    /* border: 0;
    background: 0;
    color: black;
    font-size: 1em; */
}

.side-bar-menu-item.active{
    background: 0;
}
/* .side-bar-menu-item:first-child {
    flex-basis: 3rem; 
    flex-shrink: 0;    
} */

.side-bar-menu-item.selected {
    background-color: #b3c9e4;
    border-radius: 15px;
}

.side-bar-menu-item .material-symbols-outlined{
    color: black;   
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.version-content {
    margin-left: 20px;
}

.header-title-container {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.header-icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: white
}

.header-icon-group-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.header-icon-container select{
    cursor: pointer;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    /* font-size: 1rem; */
}

.header-icon-container-language{
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    /* justify-content: center; */
}

.header-icon-container-language select{
    cursor: pointer;
}

.header-name{
    color: white;
    margin-right: 1rem;
}

.header-option{
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.header-menu-dropdown{

    position: absolute;
    top: var(--header-height);
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */

}

.header-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 0.6rem 1rem 0.6rem 0.5rem;
}
.header-menu-item .material-symbols-outlined{
    color: var(--color-theme-dark)
}

.header-menu-item:active {
    background-color: var(--color-theme);
    color: white;
}

.option-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.home-button {
    background-color: var(--color-button-background);
    color: var(--color-button-color);
    width: 30%;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--color-button-border);
    cursor: pointer;
}

.hover-text {
    visibility: hidden;   /* Initially hidden */
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    z-index: 1;
    bottom: -125%;  /* Position above the container */
    left: 50%;
    transform: translateX(-80%);
    opacity: 0;
    transition: opacity 0.3s;  /* Smooth transition */
    border: 1px solid white;
    white-space: nowrap; /* to force to be in one line */
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-container:hover .hover-text {
    visibility: visible;  /* Show text on hover */
    opacity: 1;           /* Make the text visible */
}

#language-select {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

#language-select option{
    color: #0d1b2a;
}

#language-select option:hover{
    color: #0d1b2a;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
}

.storage-room-select-container {
    margin-top: 6rem;
}

.text-icon-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 0.5rem
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.custom-button{
    background-color: var(--color-theme);
    color: var(--color-theme-font);
    border: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    min-width: 8rem;
    transition: transform 0.1s ease; /* Smooth transition */
}

.custom-button.es{
    min-width: 10rem;
}

.custom-button.delete{
    background-color: var(--color-delete);
}


.custom-button:disabled{
    opacity: 50%;
    cursor: auto;    
}

.custom-button:not(:disabled):active {
    transform: scale(0.95); /* Shrink button slightly on click */
}

.custom-button-small{
    background-color: var(--color-theme);
    color: var(--color-theme-font);
    border: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem 0.2rem 0.4rem;
    transition: transform 0.1s ease; /* Smooth transition */
    font-size: 1rem;
}

.custom-button-small.es{
    min-width: 7rem;
}

.custom-button-small:disabled{
    opacity: 50%;
    cursor: auto;   
}

.custom-button-small.delete{
    background-color: var(--color-delete);
}

.custom-button-small:not(:disabled):active {
    transform: scale(0.95); /* Shrink button slightly on click */
}

.custom-button-small .material-symbols-outlined{
    font-size: 1rem;
}

.custom-button-icon {
    background-color: var(--color-theme);
    color: var(--color-theme-font);
    border: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    transition: transform 0.1s ease; /* Smooth transition */
}

.custom-button-icon .material-symbols-outlined{
    font-size: 1.2rem;
}

.custom-button-icon:disabled{
    opacity: 50%;
    cursor: auto;   
}

.custom-button-icon:not(:disabled):active {
    transform: scale(0.95); /* Shrink button slightly on click */
}

.custom-button-icon.delete{
    background-color: var(--color-delete);
}

.custom-button-spinner-container .clip-loader{
    /* height: 0.5rem; */
    color: white !important;
    border-color: white !important;
}
.custom-button-spinner{
    color: white !important;
    border-width: 0.1rem !important;
    height: 0.9rem !important;
    width: 0.9rem !important;
}

/* .search-button-container{
    margin-top: 1rem;
} */

.center {
    width: 50%;
    margin: 0px auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.error-message{
    color: red;
}

.loader-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.4rem;
    /* width: 50%; */
    /* border: 1px solid red; */
    /* margin-top: 3.5rem; */
    margin-bottom: 2.5rem;
}

.custom-spinner-bar{
    color: var(--color-theme);
    margin: 0;
    /* height: 1rem !important; */
    /* width: 100% !important; */
    border-width: 0.2rem !important;
}


.loader-clip-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.4rem;
    /* width: 50%; */
    /* border: 1px solid red; */
    margin-top: 5rem;
    /* margin-bottom: 2.5rem; */
}


.loader-clip-container-small{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.4rem;
    margin-top: 1.3rem;
}

.custom-spinner-clip{
    color: var(--color-theme);
    margin: 0;
    /* height: 1rem !important; */
    /* width: 100% !important; */
    border-width: 0.2rem !important;
}



/* ####################################### */
/* ITEM WRAP */
/* ####################################### */

/* .image-wrap-container {

} */

.num-items-title {
    margin-top: 2rem;
}

.list-items-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-items-container-content{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f2f5f8;
}

.list-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 2px 0 2px 0 solid rgb(87, 81, 81);
    font-size: 0.9rem;
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
    flex-basis: 4.3rem;
    flex-shrink: 0;
    text-align: left; 
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    flex-grow: 1;
}

.image-wrap-container {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-basis: 9rem; */
    /* margin-right: 15px; */
    margin-left: 1.5rem;
    cursor: pointer;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.image-wrap-container img{
    height: 100%;
    text-align: center;
}


.item-wrap-content-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    flex-grow: 1;
    cursor: pointer;
}

.list-item-date{
    width: 100%;
    display: flex;
}

.list-item-date-text{
    width: 100%;
    text-align: left;
    flex-grow: 1;
}

.item-wrap-content-container h2{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.item-wrap-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: start;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 3.5rem;
}

/* .list-item-date-text{
    width: 100%
} */

/* image */
/* .list-item-element:first-child{
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.list-item-element:first-child img{
    height: 100%;
    text-align: center;
}

.list-item-element:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    flex-basis: 40%;
    /* flex-grow: 1; */
    /* cursor: pointer; */
/* } */
/* 
.list-item-element:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: start;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 3.5rem;
} */ 

/* 
.list-item p {
    margin: 0;
    font-weight: bold
} */




/* 
.list-item .image-wrap img{
    height: 100%;
    text-align: center;
} */

.list-item h2{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.list-item h2, .list-item .date{
/* .list-item h2 { */
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
}

/* ################################################## */
/* ITEM */
/* ################################################## */

#item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f8;
}

#item label, #item p, #item time{
    font-size: 1rem;
}

.item-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 90%;
    flex: 1;    
}

.item-image-container img {
    width: auto;
    height: 20rem;
    max-width: 20rem;
}

.item-image-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px
}

.item-data p{
    text-align: left;
}

.item-data-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.6rem;
    width: 100%;
}

.item-data-group label{
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.item-data-group p {
    margin: 0;
}

.item-data-group .tags-container .tag-item{
    padding-right: 6px;
}

.lent-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.lent-data-button-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.lent-data-info-container{
    text-align: left;
    white-space: nowrap;
}

.history-container {
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 0.1rem;
    
    cursor: pointer;
    border: 0;
}

.history-container:disabled {
    opacity: 50%;
    cursor: auto;
}


.item-button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 5rem 0 3rem 0;
    width: 100%;
    justify-content: center;
}


/* .edit-button {
    background-color: var(--color-button-edit-background);
    color: var(--color-button-edit-color);
    border: solid 1px var(--color-button-edit-color);
    border-radius: 5px;
}

.delete-button{
    background-color: var(--color-button-delete-background);
    color: var(--color-button-delete-color);
    border: solid 1px var(--color-button-delete-color);
    border-radius: 5px;
} */

/* #################################################### */
/* STORAGE ROOM LIST*/
/* #################################################### */
.storage-room-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.storage-room-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.storage-room-card {
    width: 40%;
    background-color: #b5c8e1;
    color: #101520;
    font-weight: bold;
    /* color: var(--color-theme-font); */
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;
}

/* #################################################### */
/* STORAGE ROOM*/
/* #################################################### */

.storage-room-confirmation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storage-room-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    width: 40%;
    margin-top: 10px;
    margin-left: 20px
}

.storage-room-data p{
    text-align: left;
}

.storage-room-data-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.6rem;
    width: 100%;
}

.storage-room-data-group label{
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.storage-room-data-group p {
    margin: 0;
}

.storage-room-data-group .tags-container .tag-item{
    padding-right: 6px;
}

/* #################################################### */
/* MODAL*/
/* #################################################### */

/* Modal overlay (the background) */
.custom-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.custom-item-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 80vw;
    height: 80vh;
    text-align: center;
    /* border: 1px solid #ccc; */
}

.custom-item-modal.terms{
    width: 60vw;
    height: 80vh;
    overflow-y: auto;
}

.modal-header {
    background-color: #0d1b2a;
    color: white;
    height: 4rem;
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    justify-content: flex-end; /* Align the close button to the right */
    /* justify-content: center; */
    border-radius: 4px 4px 0 0;
    position: relative; /* Needed to position the title absolutely */
}

.modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-close-button-container {
    cursor: pointer;
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    /* height: 50vh; */
    /* padding-top: 5rem; */
}

.modal-content {
    margin-top: 2rem;
    color: black;
    width: 40%;
}

.modal-content ul li {
    margin-bottom: 0.5rem; /* Adjust to control spacing */
  }

.modal-history-entry{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 2rem;
}

.modal-history-entry-aux{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 2rem;
}

/* ############################################### */
/* SMALL MODAL */
/* ############################################### */
.small-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 30vw;
    min-height: 50vh;
    text-align: center;
}

.small-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.small-modal-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-modal-content {
    margin-top: 3rem;
    color: black;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-modal-form {
    width: 100%;
    margin-top: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

/* #################################################### */
/* INFO MODAL*/
/* #################################################### */
.info-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 25vw;
    min-height: 30vh;
    text-align: center;
}

.info-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-modal-header{

    background-color: #0d1b2a;
    color: white;
    height: 2rem;
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    justify-content: flex-end; /* Align the close button to the right */
    /* justify-content: center; */
    border-radius: 4px 4px 0 0;
    position: relative; /* Needed to position the title absolutely */ 
}

.info-modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.info-modal-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-modal-content {
    margin-top: 2rem;
    color: black;
    width: 80%;
    text-align: left;
}

/* ############################################### */
/* ADD USERS */
/* ############################################### */

.add-user-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.user-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.user-list-item {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    background-color: #8eaed3;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 3px;
}

.user-list-item.admin{
    /* background-color: rgb(114, 187, 169) ; */
    border: 2px solid #38495c;;
}

.user-list-item.new{
    background-color: #507196 ;
}

.add-user-item{
    width: 60%;
    background-color: #8eaed3;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 3px;
    text-align: left;

    padding-left: 0.5rem;
    color: rgb(26, 46, 85);
    cursor: pointer;
    

}

.invitation-you-container {
    background-color: #5a7ea7;
    border-radius: 15px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.6rem 0.3rem 0.6rem;
}

.pending-container{
    text-align: left;
    width: 60%;
    margin-left: 1rem
}


.invitation-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0.5rem;
}

.invitation-button-container .material-symbols-outlined{
    cursor: pointer;
    color: var(--color-theme-dark);
    font-weight: 300;
}

.user-list-email{
    flex-grow: 1;
    display: block;
    text-align: left;

    margin-left: 0.5rem;
    white-space: nowrap;      /* Prevent text wrapping */
    overflow: hidden;         /* Hide overflow text */
    text-overflow: ellipsis;  /* Display ellipsis when text overflows */
}

.invitations-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.invitations-title-container .material-symbols-outlined{
    color: black;
}

.invitations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

.invitation-card {
    width: 40%;
    background-color: #b5c8e1;
    color: #101520;

    /* color: var(--color-theme-font); */
    border-radius: 3px;
    font-size: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;
}

.pending-invitation-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    color: white
}

.pending-invitation-button-container .material-symbols-outlined{
    color:white;
}



/* ############################################### */
/* LOGIN */
/* ############################################### */

.login-form, .change-password-form{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.show-password-container{
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.login-options-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.login-link{
    color: #172e49;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/* ####################################################### */
/* TERMS */
/* ####################################################### */
/* #region terms */
.terms-container{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    /* height: 100%; */
    overflow-y: auto;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.terms-text{
    margin-top: 1rem;
    border: 1px solid #ccc;
    /* border: "1px solid #ccc"; */
    padding: 1rem 2rem 1rem 2rem ;
    /* padding-left: 2rem; */
    border-radius: 5px;
    overflow-y: auto;
    text-align: left;
    /* height: 400px */
}

.terms-acception-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;   
}


.terms-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 20px;
    border-radius: 4px;
    /* width: auto; */
    width: 50vw;
    height: 80vh;
    text-align: center;
    /* border: 1px solid #ccc; */
}

.terms-modal-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    overflow-y: auto;
}

/* #endregion*/

/* .password-container {
    position: relative;
    width: 100%;
}

.hide-password-button {
    position: absolute;
    top:20%;
    right: 0;
    font-size: 18px !important;
    cursor: pointer;
    color: rgb(29, 29, 29);
} */

/* ####################################################### */
/* FORM */
/* ####################################################### */

.custom-form{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.icon-black{
    cursor: pointer;
}
.icon-black .material-symbols-outlined{
    color: black;
}

/* .search-form {
    margin-bottom: 50px;
} */


.paginating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 9px;
}

.label-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.label-icon-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* height: 100%; */
    cursor: pointer;
    /* height: auto; */
}

.label-icon-container .material-symbols-outlined{
    color: black;
    font-size: 1.3rem;
}



input[type="text"], textarea, input[type="file"],
input[type="email"], input[type="password"],
input[type="date"]{
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-form-border);
    padding: 3px;
    transition: 300ms all;
}

input[type="date"], input[type="file"]{
    color: black;
    width: 100%
}

textarea {
    height: 80px;
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    max-height: 300px;
}

.radio-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.radio-buttons-container input[type="radio"] {
    margin-right: 15px;
    accent-color: var(--color-theme);
}

/* .save-button-container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
} */

/* validator messages */
.srv-validation-message{
    color: var(--color-validator-message);
}

/*EDIT FORM*/

.thumb {
    height: 100px;
    width: auto;
}

.thumb-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative; /* Allows positioning elements inside the container */
}

.delete-button {
    position: absolute; /* Position it relative to the container */
    top: 5px; /* Adjust the top distance */
    right: 5px; /* Adjust the right distance */
    background-color: #e32e36; /* Customize the button style */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0rem;

}

/* ###################################################### */
/* TAGS SELECT */
/* ###################################################### */

.tags-input-container{
    width: 100%;
    height: 100%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    margin: 6px 0px 6px;
}

.tags-input-container .tag-button-container{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.4rem;
}

.tag-item {
    /* background-color: blue; */
    /* border: 0px solid blu/; */
    border-radius: 2px;
    background-color: var(--color-tag-background);
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    color: var(--color-tag-font);
    font-size: 85%;
    /* padding: 3px; */
    padding-left: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.close-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-button:hover{
    background-color: var(--color-tag-close-background);
    color: var(--color-tag-close-font);
}

.tag-item .close{
    /* cursor: pointer; */
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
    margin-left: 4px;
    margin-right: 4px;
    /* height: 100%; */
}


.tag-item .tag{
    padding: 3px;
}


/* ############################################## */
/* SELECT */
/* ############################################## */

/*tag selector*/
.css-b62m3t-container{
    width: 100%;
}

.css-13cymwt-control:hover, .css-13cymwt-control:active{
    border-color: var(--color-multiselect-border);
    box-shadow: 0 0 0 1px var(--color-multiselect-shadow) !important;
}

.css-t3ipsp-control, .css-t3ipsp-control{
    border-color: var(--color-multiselect-border) !important;
    box-shadow: 0 0 0 1px var(--color-multiselect-shadow) !important;
}

/* Customize the selected option */
form .react-select__option--is-selected {
    background-color: var(--color-theme) !important; /* Change background color for selected option */
    color: white !important;                /* Change text color for selected option */
}


/* #################################### */
/* ######### PAGINATION ############### */
/* #################################### */

.pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Pushes this child to the bottom */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.step-buttons-container{
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: space-between;
}

.pagination-bars-container {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.pagination-bar {
    width: 80%;
    height: 5px;
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-bar.active {
    background-color: var(--color-theme);
}

.pagination-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* #################################### */
/* ############### TREE ############### */
/* #################################### */
.custom-tree-node{
    /* margin-left: 5rem; */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.custom-tree-node-name{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.custom-tree-node .material-symbols-outlined{
    color: #0b101a;
    /* color: var(--color-theme) */
}

.custom-tree-add-location{
    cursor: pointer;
    color: blue;
    text-align: left;
    /* margin-left: 5rem; */
}

.custom-tree-children-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    margin-left: 3rem;
}
.custom-editable-tree-children-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    margin-left: 5rem;
}


.custom-tree-input-container{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.small-icon{
    font-weight: 600;
}

.custom-tree{
    width: 100%;
    margin-left: 3rem;
}

.custom-editable-tree{
    width: 100%;
    margin-left: 4rem;
}





/* #################################### */
/* ######### RESPONSIVE ############### */
/* #################################### */

@media (max-width: 1360px){
    .item-container {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
    }

    #item label, #item p, #item time, .lent-data-info-container{
        font-size: 14px;
    }

    #item img {
        width: auto;
        height: 250px;
    }

    .item-data {
        row-gap: 15px;
        width: 70%
    }
}

@media (max-width: 1035px){
    .item-container {
        width: 100%;
    }

    .terms-modal{
        width: 90vw;
    }
}


@media (max-width: 940px){

    h1 {
        font-size: 32px;    
    }

    .center {
        width: 75%;
    }

    /* .option-button-container button {
        width: 50%;
    } */

    .list-item .image-wrap {
        height: 110px;
    }

    .aux {
        padding-left: 14px;
    }

    .item-container {
        width: 80%;
    }

    .welcome-icon{
        height: 30vh;
    }

    /* .welcome-title{
        font-size: 3em;
    } */

    .welcome-buttons-container{
        margin-top: 4rem;
    }
    

    

/*
    .search-form {
        width: 75%;
    }

    .search-form button{
        width: 75%;
    }
 */
}

@media (max-width: 687px){
    .center {
        width: 100%;
    }
    
    h1 {
        font-size: 27px;
    }
    
    /* .option-button-container button {
        width: 50%;
    } */

    .item-container {
        width: 100%;
    }

    .item-data-group {
        flex-direction: column;
        gap: 0.2rem;
    }

    .item-button-container{
        width: 70%
    }


    /* #item label, #item p, #item time{
        font-size: 14px;
    } */

    .item-image-container img {
        width: auto;
        /* height: 170px; */
    }

    .item-data {
        margin-left: 0;
    }

    .custom-form, .login-form, .change-password-form{
        width: 80%;
    }

    /*To avoid zoom in in phones*/
    input, textarea {
        font-size: 16px;
    }

    /* BUTTONS */
    .custom-button, .custom-button-small{
        font-size: 1rem;
    }

    .custom-button{
        min-width: 40%;
    }

    .custom-button.es{
        min-width: 50%
    }

    h1{
        font-size: 2.5rem;
    }

    .list-items-container-content{
        width: 100%
    }

    .list-item {
        width: 90%;
    }

    .local-es{
        gap: 10px;
    }

    .list-item .image-wrap-container {
        /* height: 90px; */
        margin-left: 0;
    }


    .list-item-wrapper {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        flex-grow: 1;
        align-items: flex-start;
        justify-content: space-between;
        /* gap: 1rem; */
    }

    .item-wrap-content-container{
        flex-grow: 0;
        width: 100%
    }

    .list-item-date{
        width: 100%;
        display: flex;
        /* gap: 0.5rem; */
    }

    .list-item-date-text{
        /* width: 100%; */
        text-align: left;
    }

    .item-wrap-buttons-container {
        flex-direction: row;
        margin: 0;
        justify-content: flex-end;
        width: 100%;
        margin-right: 5px
    }

    /* #### MODALS ### */
    .modal-content {
        width: 90%;
        font-size: 0.9rem;
    }

    
    .modal-history-entry{
        flex-direction: column;
    }

    .small-modal {
        width: 80vw;
        height: auto;
    }

    .small-modal-form {
        width: 80%;
        row-gap: 2rem;
        /* margin-bottom: 2rem; */
    }

    .small-modal-content {
        width: 90%;
        font-size: 0.9rem;
    }

    /*INFO MODAL*/
    .info-modal {
        width: 78vw;
        min-height: 30vh;
    }

    /* ADD USERS */
    .user-list-item {
        width: 90%;
        gap: 1rem;
    }

    .add-user-item{
        width: 90%;
        gap: 1rem;
    }

    .user-list-email{
        /* max-width: 30%; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pending-container{
        text-align: left;
        width: 90%;
        margin-left: 1rem
    }

    .invitation-card{
        width: 80%;
    }


    /*PAGINATION*/
    .step-buttons-container{
        gap: 1rem;
        width: 80%;
    }

    /*STORAGE ROOM*/
    .storage-room-data {
        width: 80%;
    }

    /* STORAGE ROOM LIST*/
    .storage-room-card {
        width: 80%;
    }

    /* SIDEBAR*/
    .side-bar-menu{
        width: 100vw;
    }

    .side-bar-menu.collapsed{
        width: 0;
    }

    .side-bar-menu.collapsed .side-bar-menu-item.selected {
        background-color: #b3c9e400 !important;
        border-radius: 15px;
    }

    .side-bar-menu-item{
        padding-left: 0.7rem;
    }

    /*WELCOME*/
    .welcome-icon{
        height: 30vh;
    }

    .welcome-title{
        font-size: 2.5em;
    }

    .welcome-slogan{
        font-size: 1.3em;
    }

    .welcome-buttons-container{
        flex-direction: column;
    }

    .terms-container{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }


/*
    .search-form, .new-form{
        width: 100%;
    }

    .search-form button{
        width: 100%;
    } */
}

@media (max-width: 390px){
    .custom-button{
        min-width: 55%;
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    }
/* 
    .custom-button.es{
        min-width: 62%;
    } */

    .welcome-title{
        font-size: 2.2em;
    }

    .welcome-slogan{
        font-size: 1.2em;
    }
}



